.course {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 260px;
  min-width: 250px;
  max-width: 300px;
  height: 350px;
  border-radius: 5px;
  border: 1px solid #e3e3e3;
  margin: 10px;
  &:hover {
    cursor: pointer;
  }

  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    background-color: #eaeaea;
    img {
      width: 100%;
      overflow: hidden;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }
  }

  .info {
    padding: 10px;
    text-align: left;

    h3 { // name
      font-size: 1rem;
    }

    .author {

    }

    .rating {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .number {

      }

      .startRating {

      }

      .numberOfRate {

      }
    }

    .price {
      .real {

      }

      .discounted {

      }
    }

  }

  .priceAndBuy {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}