.listCourse {
  padding: 0 2rem;
  overflow-y: auto;

  .courseItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f5f5f5;
    &:last-child {
      border: none;
    }

    span {
      width: 10px;
    }
  }
}