.instructor-course-content{
    .p-accordion-header-text {
        flex: 1;
    }
    .p-button-rounded {
        height: 30px !important;
        width: 30px !important;
        border-radius: 15px !important;
    }
}