@import "./src/assets/animation";

.main {
  @include pageLoadRightAnimation(0.3s);
  width: 100%;
  padding: 1rem 10%;
  background-color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  border: 1px solid red;

  .header {
    padding: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
    margin-left: 20%;
  }

  .content {
    display: grid;
    margin: 1rem;
    grid-template-columns: 20% 80%;
    flex: 1;
    max-height: 90%;

    .filter {
      //height: 100%;
      padding-right: 1rem;
      border-right: 1px solid #dddddd;
    }

    .listCourse {
      padding: 0 2rem;
      overflow-y: scroll;
      max-height: 100%;
    }
  }
}


@media (max-width: 1135px) {
  .main {
    padding: 1rem;

    .header {

    }

    .content {
      .filter {

      }

      .listCourse {

      }
    }
  }
}

@media (max-width: 920px) {
  .main {
    justify-content: unset;
    .header {
      font-size: 1.1rem;
      margin: 0 2rem;
      padding: 0;
    }

    .content {
      grid-template-columns: unset;
      grid-template-rows: auto;
      .filter {
        width: 300px;
        margin: 0 2rem;
        border-right: none;
      }

      .listCourse {

      }
    }
  }
}

@media (max-width: 600px) {
  .main {
    .header {
      font-size: 1.1rem;
      margin: 0;
      padding: 0;
    }

    .content {
      grid-template-columns: unset;
      grid-template-rows: auto;
      margin: 0;
      .filter {
        width: 300px;
        margin: 0rem;
        border-right: none;
      }

      .listCourse {

      }
    }
  }
}