.nav {
  width: 100%;
  z-index: 1000;
  display: grid;
  grid-template-columns: 3fr 4fr 3fr;
  align-items: center;
  background: #333d49;
  height: 6%;

  .left-side {
    display: flex;
    align-items: center;
    height: 3rem;

    img {
      height: 100%;
      width: 70%;
    }
  }

  a {
    text-decoration: none;
    color: black;
  }

  .center {
    height: 100%;
    width: 100%;
    background-color: #48515c;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;

    i {
      padding: 10px;
      color: rgba(255, 255, 255, 0.5);
    }

    form {
      width: 100%;

      input {
        width: 100%;
        background-color: #48515c;
        outline: none;
        border: none;
        margin: auto;
        height: 40px;
        color: white;
        border-radius: 5px;

        &::placeholder {
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }


  .right-side {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .before-sign-in {
      max-width: 90%;
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      div {
        display: flex;
        align-items: center;
        margin-right: 10%;
      }

      a {
        &:nth-child(3) {
          background-color: #333d49;
          color: white;
          border: 1px solid white;
        }

        &:nth-child(4) {
          background-color: #48515c;
          color: white;
          border: 1px solid white;
        }

        &:hover {
          filter: brightness(90%);
        }
      }

      .my-teach {
        position: relative;
        display: none;

        .my-teach-content {
          p {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 15px;
          }

          a {
          }
        }

        &:hover .my-teach-content {
          display: block;
        }
      }
    }

    .afterLogin {
      flex: 1;
      max-width: 90%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      i {
        font-size: 1.5rem;
      }

      .buttons {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        i {
          color: #cdcdcd;
        }

        .card {
          position: relative;
          padding: 0.5rem;
          margin-right: 20px;
          border: 1px solid green;

          .list {
            border: 1px solid red;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
          }
        }

        .notify {
          padding: 0.6rem;
          margin-right: 20px;
        }

        .card:hover, .notify:hover {
          cursor: pointer;
        }

        .my-learning {
          position: relative;

          .my-learning-dropdown-content {
            .my-course-item {
              display: grid;
              grid-template-columns: 30% 70%;
              grid-column-gap: 10px;
              align-items: center;
              line-height: 20px;

              img {
                width: 95%;
                grid-row: 1 / 3;
              }

              p {
                &:nth-child(2) {
                }

                &:nth-child(3) {
                  color: green;
                  font-weight: bold;
                }
              }
            }

            .content-btn {
              margin-top: 15px;
            }

            .my-empty-course {
              p {
                font-size: 20px;
                font-weight: bold;
                text-align: center;
                margin-bottom: 15px;
              }

              a {
              }
            }
          }

          &:hover .my-learning-dropdown-content {
            display: block;
          }
        }

      }

      .my-notification {

      }

      .my-profile {
        position: relative;
      }

    }
  }
}
