.footer {
  padding: 20px;
  background-color: #1C1D1F;
  color: white;
  .notice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 20px;
    strong {
      color: #A435F0;
    }
  }
  .section1 {
    margin: 20px;
    display: flex;
    justify-content: space-between;

    .left {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      ul {
        margin-right: 20px;
        font-size: 90%;
        li {
          list-style: none;
          margin:10px 0;

        }

      }
    }
    .right {

    }
  }
  .section2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    img {
      height: 4rem;
    }
  }
}