.p-rating {
  span {
    color: orange !important;
    font-size: 0.9rem;
  }
}

.p-card-body {
  .p-card-title {
    font-size: 1.2rem !important;
  }

  .p-card-content {
    padding: 5px !important;
  }
}

.p-avatar-text {
  font-size: 1.5rem;
}